
@model ParkData.ViewModels.ParkViewModel

    <p>This is where the Park Search results go</p>

    <table class="table">

        <tr>
            <th>Park ID</th>
            <th>Park Name</th>
            <th>Borough</th>
            <th>Acres</th>
            <th>Directions</th>
            <th>Description</th>
            <th>Habitat Type</th>
            <th>Sanctuary Name</th>
        </tr>
        @foreach (var park in Model.Parks)
        {
            <tr>
                <td>@park.ParkID</td>
                <td>@park.ParkName</td>
                <td>@park.Borough</td>
                <td>@park.Acres</td>
                <td>@park.Directions</td>
                <td>@park.Description</td>
                <td>@park.HabitatType</td>
                <td>@park.SantuaryName</td>
            </tr>
        }

    </table>