@{
    ViewData["Title"] = "Park Search";
    @model ParkData.ViewModels.ParkViewModel
@*@Scripts.Render("~/search.js")*@
    @*Layout = "_AnotherLayout"*@
}


<p>This is where the Park Search results go</p>

<form asp-controller="Home" asp-action="ParkSearch">
    <input type="text" name="search" placeholder="Search the parks!">
    <input type="submit" id="searchButton">
</form>

<button id="button">Javascript Search</button>

<table class="table">

    <tr>
        <th>Park ID</th>
        <th>Park Name</th>
        <th>Borough</th>
        <th>Acres</th>
        <th>Directions</th>
        <th>Description</th>
        <th>Habitat Type</th>
        <th>Sanctuary Name</th>
    </tr>
    @foreach (var park in Model.Parks)
    {
        <tr>
            <td>@park.ParkID</td>
            <td>@park.ParkName</td>
            <td>@park.Borough</td>
            <td>@park.Acres</td>
            <td>@Html.Raw(park.Directions)</td>
            <td>@Html.Raw(park.Description)</td>
            <td>@park.HabitatType</td>
            <td>@park.SantuaryName</td>
        </tr>
    }

</table>





<script src="~/js/search.js"></script>